<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/e1942af5f1.js" crossorigin="anonymous"></script>
    <style>
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color:  #E1E1E1 ;
}

/* grid definition */
.grid-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 0.8fr 5fr;
  grid-template-rows: 60px 1fr 50px;
}

.header {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F2F2F2;
  color: #1F1F1F;
  padding: 0.5rem;
  border-radius: 10px;
}

.headerTitle {
  flex: 1;
  display: flex;
  align-items: center;
}

.header h3 {
  font-weight: bold;
  margin: 0;
  padding-left: 15px;
}

.dropdown {
  position: relative;
  margin-left: 1rem;
  margin-right: 20px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #FFFFFF;
  min-width: 100px;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #1F1F1F;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.sidebar {
  grid-row: 2 / span 1;
  background-color: #FFFFFF ;
  padding: 1rem;
  margin:5px
}

.main {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  padding: 0.5rem 1rem;
}

.footer {
  grid-column: 1 / span 2;
  background-color:  #F2F2F2 ;
  color: #1F1F1F;
  padding: 1rem;
  text-align: center;
  margin:3px
}

.subheader{
  background-color: #F8F8F8 ;
  color: #1F1F1F;
  padding: 0.5rem;
  display: block;
  border-radius: 5px;
  margin: 3px 3px 7px 3px ;
}
/*style sidebar*/
.sidebar .nav-item a,
.sidebar .nav-item a::after,
.sidebar .nav-item a::before {
  box-sizing: content-box;
}
.nav-item {
  margin-bottom: -15px;
}

.nav-link {
  display: block;
  width: 80%;
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: #2c3e50;
  border-radius: 1rem;
}
.nav-link.active {
  background-color: #046380;
  color: white;
}
i {
  margin-right: 5px;
}
/*style card*/
.submain{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}
#div1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 424px;
  height: 150px;
  margin-left: 5px;;
  /* Additional styles for div1 */
}

#div2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* Additional styles for div2 */
}
#div2 span {
  margin-right: 15px;
}

.icon {
  margin-left: 15px;
  font-size: 24px; /* Adjust the desired size */
  border: 2px solid #d91c1cc0;
  border-radius: 50%;
  padding: 8px;
  color: rgba(159, 62, 62, 0.53);
}

</style>
  </head>
  <body>
    <div class="grid-container">
      <div class="header">
        <div><h3 class = "headTitle" style="font-weight: bold;">LabBuddy</h3></div>
        <div class="dropdown">
          <i class="fa-solid fa-user" id="dropdownButton"></i>
          <div class="dropdown-content" id="dropdownContent">
            <a href="#" onclick="confirmLogout()">Logout</a>
          </div>
        </div> 
      </div>
      <div class="sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/login/Admin">
            <i class="fa-solid fa-house"></i>Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login/Admin/edit_courses">
          <i class="fa-solid fa-pen-to-square"></i>  Edit Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login/Admin/edit_students">
          <i class="fa-solid fa-pen-to-square"></i>  Edit Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login/Admin/edit_instructor">
          <i class="fa-solid fa-pen-to-square"></i> Edit Instructor</a>
      </li>

      </div>
      <div class="main">
        <div class="subheader"><h3>Welcome, Admin</h3></div>
        <div class="submain">
          <div>
            <div id="div1">
              <i class="fa-solid fa-graduation-cap icon"></i>
              <div id="div2">
                <span><h4>Total Student</h4></span>
                <span><%=totalStudent%></span>
                <span><a href="#" id="viewDetails1">View Details</a></span>
              </div>
            </div>
          </div>
          <div>
            <div id="div1">
              <i class="fa-solid fa-file-pen icon " style="color:rgb(178, 142, 76);border-color:orange"></i>
              <div id="div2">
                <span><h4>Total Courses</h4></span>
                <span><%=totalCourse%></span>
                <span><a href="#" id="viewDetails2">View Details</a></span>
              </div>
            </div>
          </div>
          <div>
            <div id="div1">
              <i class="fa-solid fa-person-chalkboard icon " style="color:rgb(86, 178, 76);border-color:rgb(4, 255, 0)"></i>
              <div id="div2">
                <span><h4>Total Instructor</h4></span>
                <span><%=totalInstrcutor%></span>
                <span><a href="#" id="viewDetails3">View Details</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
          <p>&copy; 2023 anubhavbinit</p>
      </div>
    </div>

    <script>
        function confirmLogout() {
          if (confirm("Are you sure you want to log out?")) {
            window.location.href = "/logout";
          }
        }
document.addEventListener('DOMContentLoaded', function() {
  const viewDetailsLink = document.getElementById('viewDetails1');
  const viewDetailsLink1 = document.getElementById('viewDetails2');
  const viewDetailsLink2 = document.getElementById('viewDetails3');
  viewDetailsLink.addEventListener('click', function(event) {
    event.preventDefault();
    
    fetch('/login/Admin/students/pdf')
      .then(function(response) {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.blob();
      })
      .then(function(blob) {
        // Create a URL object from the response blob
        const url = URL.createObjectURL(blob);
        
        // Open a new window and navigate to the PDF URL
        window.open(url, '_blank');
      })
      .catch(function(error) {
        console.error('There was an error:', error);
      });
  });
  viewDetailsLink1.addEventListener('click', function(event) {
    event.preventDefault();
    
    fetch('/login/Admin/courses/pdf')
      .then(function(response) {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.blob();
      })
      .then(function(blob) {
        // Create a URL object from the response blob
        const url = URL.createObjectURL(blob);
        
        // Open a new window and navigate to the PDF URL
        window.open(url, '_blank');
      })
      .catch(function(error) {
        console.error('There was an error:', error);
      });
  });
  viewDetailsLink2.addEventListener('click', function(event) {
    event.preventDefault();
    
    fetch('/login/Admin/instructors/pdf')
      .then(function(response) {
        if (!response.ok) {
          throw new Error('Network response was not ok');
        }
        return response.blob();
      })
      .then(function(blob) {
        // Create a URL object from the response blob
        const url = URL.createObjectURL(blob);
        
        // Open a new window and navigate to the PDF URL
        window.open(url, '_blank');
      })
      .catch(function(error) {
        console.error('There was an error:', error);
      });
  });
});

    </script>

</body>
</html>
