<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage with Header, Footer, Sidebar, and Main</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .grid-container {
        display: grid;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr 7fr 0.5fr;
        height: 100%;
      }

      .header {
        grid-column: 1 / span 2;
        background-color: #007bff;
        color: white;
        padding: 0.5rem;
	   position:relative;
	   align-items: center;
      }

      .sidebar {
        grid-row: 2 / span 1;
        background-color: #f8f9fa;;
        padding: 1rem;
      }

      .main {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
        padding: 1rem;
      }

      .footer {
        grid-column: 1 / span 2;
        background-color: #007bff;
        color: white;
        padding: 1rem;
	   text-align: center;
      }


    form {
      /* margin-top: 20px; */
    }
    .form-group label {
      font-weight: bold;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
    .form-control {
      border-radius: 0;
    }
    .form-control:focus {
      box-shadow: none;
    }
    .form-group small {
      color: #6c757d;
      font-size: 12px;
    }

    /* Style the file upload button */
    .custom-file-label {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .custom-file-label::after {
      content: "Browse";
    }
    .custom-file-input:focus ~ .custom-file-label {
      border-color: #007bff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }

    /* Style the submit button */
    button[type="submit"] {
      background-color: #007bff;
      border-color: #007bff;
      text-transform: uppercase;
      transition: all 0.2s ease-in-out;
    }
    button[type="submit"]:hover {
      background-color: #0069d9;
      border-color: #0062cc;
    }

    /* Style the sidebar */
    #sidebar h3 {
      font-size: 20px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    #sidebar ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    #sidebar li {
      margin-bottom: 10px;
    }
    #sidebar a {
      color: #343a40;
      text-decoration: none;
    }
    #sidebar a:hover {
      color: #007bff;
    }

    /*style the header*/
    #headTitle{
      position: absolute;
      left: 0;
      padding: 10px;
    }
    #headOptions{
      position: absolute;
      right: 0;
      padding: 10px;
    }
 .hidden {
  display: none;
}

<!--style for option1Field--!>
  .form-paragraph {
    margin-top: 10px;
    font-size: 0.9375rem;
    color: rgb(105, 105, 105);
  }

  .drop-container {
    background-color: #fff;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 2.1875rem;
    border-radius: 10px;
    border: 2px dashed rgb(171, 202, 255);
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }

  .drop-container:hover {
    background: rgba(0, 140, 255, 0.164);
    border-color: rgba(17, 17, 17, 0.616);
  }

  .drop-container:hover .drop-title {
    color: #222;
  }

  .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }

  #excel {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
  }

  #excel::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  #excel::file-selector-button:hover {
    background: #0d45a5;
  }

    </style>
  </head>
  <body>
    <div class="grid-container">
      <div class="header">

<img src="https://w7.pngwing.com/pngs/411/956/png-transparent-customer-login-avatar-head-portrait-client-user-thumbnail.png" alt="User" style="width:50px;height:50px;position:absolute;right:0;margin-right:20px;">
      <h1 id = "headTitle">TU_Labs</h1>


      </div>
      <div class="sidebar">

      <h3>Options</h3>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/edit_courses">Edit Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/edit_students">Edit Students</a>
        </li>

      </div>
      <div class="main">

   <form action="/edit_courses" method="post" enctype="multipart/form-data">
      <label for="options">Select an option:</label>
      <select id="options" name="options" onchange="showFields()">
        <option value="">Select an option</option>
        <option value="upload">UPLOAD</option>
        <option value="add">ADD</option>
        <option value="update">UPDATE</option>
      </select>
      <div id="option1Fields">
        <span style = "font-size: 1.8rem ">Upload your file</span>
        <p class="form-paragraph">
            File should be an excel sheet (.xlsx file)
          </p>
         <label for="file-input" class="drop-container">
        <span class="drop-title">Drop files here</span>
        or
        <input  type="file" id="excel" name="excel" required="" accept=".xls,.xlsx,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
      </label>
      </div>

      <div id="option2Fields" class="hidden">
          <div class="form-group">
            <label for="field1">Course ID</label>
            <input type="text" class="form-control" name="courseID" placeholder="Enter field 1">
          </div>
          <div class="form-group">
            <label for="field2">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Enter field 2">
          </div>
          <div class="form-group">
            <label for="field3">Instructor</label>
            <input type="text" class="form-control" name="instructor" placeholder="Enter field 3">
          </div>
      </div>

      <div id="option3Fields" class="hidden">
        <label for="CourseOptions">Courses:</label>
        <select id="CourseOptions" name="CourseOptions" onchange="populateForm()">
          <option value="">Select a course</option>
          <% course.forEach(function(course) { %>
            <option value="<%= course._id %>"><%= course.CourseID %></option>
          <% }) %>
        </select>
          <div class="form-group">
            <label for="CourseID">Course ID</label>
            <input type="text" class="form-control" name="ucourseID" id="courseID" placeholder="Enter field 1" value = "">
          </div>
          <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" class="form-control" name="uname" id="name" placeholder="Enter field 2" value="">
          </div>
          <div class="form-group">
            <label for="Instructor">Instructor</label>
            <input type="text" class="form-control" name="uinstructor" id="instructor" placeholder="Enter field 3" value="">
          </div>
      </div>

      <br>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

      </div>
      <div class="footer">
          <p>&copy; 2023 anubhavbinit</p>
      </div>
    </div>

  <script>
  function showFields() {
  var options = document.getElementById("options");
  var option1Fields = document.getElementById("option1Fields");
  var option2Fields = document.getElementById("option2Fields");
  var option3Fields = document.getElementById("option3Fields");

  if (options.value === "upload") {
    option1Fields.classList.remove("hidden");
    option2Fields.classList.add("hidden");
    option3Fields.classList.add("hidden");
  } else if (options.value === "add") {
    option1Fields.classList.add("hidden");
    option2Fields.classList.remove("hidden");
    option3Fields.classList.add("hidden");
  } else if (options.value === "update") {
    option1Fields.classList.add("hidden");
    option2Fields.classList.add("hidden");
    option3Fields.classList.remove("hidden");
  } else {
    option1Fields.classList.add("hidden");
    option2Fields.classList.add("hidden");
    option3Fields.classList.add("hidden");
  }
}

function populateForm() {
        var dropdown = document.getElementById("CourseOptions");
        var itemId = dropdown.value;

        fetch(`/edit_courses/${itemId}`)
          .then(response => response.json())
          .then(data => {
            document.getElementById("courseID").value = data.CourseID;
            document.getElementById("name").value = data.Name;
            document.getElementById("instructor").value = data.Instructor;
          })
          .catch(error => console.log(error));
      }

</script>


</body>
</html>
