
	<div id="popup" class="popup">
		<div class="popup-content">
			<h2>Pop-up Box</h2>
			<p>This is an example of a pop-up box.</p>
			<button class="close" onclick="closePopup()">Close</button>
		</div>
	</div>

	<script>
		function showPopup() {
			document.getElementById("popup").style.display = "block";
		}

		function closePopup() {
			document.getElementById("popup").style.display = "none";
		}
	</script>

